

.news .articles .list-group-item div:nth-of-type(1){
    width: 6%
}

.news .articles .list-group-item div:nth-of-type(2){
    width: 70%
}
.news .articles .list-group-item  div:nth-of-type(3){
    width: 20%
}
.news .articles .list-group-item  div:nth-of-type(4){
    width: 2%
}
.news .articles .list-group-item  div:nth-of-type(5){
    width: 2%
}

/*style*/

.review  .articles .list-group-item div:nth-of-type(1){
    width: 2%
}

.review  .articles .list-group-item div:nth-of-type(2){
    width: 6%
}

.review  .articles .list-group-item div:nth-of-type(3){
    width: 70%
}

.review  .articles .list-group-item div:nth-of-type(4){
    width: 22%
}



/*Square corners the top of lits*/
.list-group-item:first-child {
    border-top-right-radius: .0rem;
    border-top-left-radius: .0rem;
}

/*Reset tab corners*/
.btn{
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

    .nav-tabs {border-bottom: none;}/*float: left; width: 100%; margin: 0; padding: 0; list-style: none; border-bottom: 1px solid #428BCA; border-top: 1px solid #428BCA;*/

    .nav-tabs li {float: left; margin: 0; padding: 0;}
    .nav-tabs li a {padding: 20px 30px; float: left;}
    .nav-tabs li.active a {background: #0275d8!important; color: #fff!important;}


    .nav-tabs > li.active > a, 
    .nav-tabs > li.active > a:focus, 
    .nav-tabs > li.active > a:hover { border-width: 0; color: #d8d8d8!important;}
    
    .nav-tabs > li > a { border: none; color: #fff; }
    
    .nav-tabs > li.active > a, 
    .nav-tabs > li > a:hover { border: none; color: #fff !important; background: transparent; }
    
    .nav-tabs > li > a::after { content: "";  position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); } /*background: #4285F4; height: 2px;*/
    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
    .tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
    .tab-pane { padding: 15px 0; }
    .tab-content{ padding:0px }